// colors
$brand_color: #914900;
$second_brand: #f2f2f2;
$third_brand: #8c8c8c;
$gray_color: #cecece;
$white_color: #fff;

@mixin displayCenter($aline-items, $justify-content) {
  display: flex;
  align-items: $aline-items;
  justify-content: $justify-content;
}

// media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin mQ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
